<%= form_for(@school) do |f| %>
  <label>Student Form</label><br>
  <%= f.text_field :title %><br>

  <label>Student Form</label><br>
  <%= f.text_field :room_number %><br>

  <%= f.submit %>
<% end %>